body.login div#login h1 a {
	background-image: url('../../includes/images/client-logo.svg');
	background-size: 320px 68px;
	background-position: center top;
	background-repeat: no-repeat;
	width: 320px;
	height: 68px;
}